<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="FATAL">

    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss} [%t] %-5level %C{2} %M %msg%n"/>
        </Console>
        <RollingFile name="logFile" fileName="log/log.log"
                     filePattern="log/log-%d{yyyy-MM-dd}.log"
                     ignoreExceptions="false">
            <PatternLayout pattern="%d{dd::MM::yyyy HH:mm:ss} [%t] %-5level %C{2} %M %msg%n"/>
            <SizeBasedTriggeringPolicy size="2MB"/>
            <TimeBasedTriggeringPolicy />
        </RollingFile>
    </Appenders>

    <Loggers>
        <Logger name="by.training.finalproject.service.impl.LocalAddressServiceImpl" level="info">
            <AppenderRef ref="logFile"/>
        </Logger>
        <Logger name="by.training.finalproject.service.impl.ProductServiceImpl" level="info">
            <AppenderRef ref="logFile"/>
        </Logger>
        <Logger name="by.training.finalproject.service.impl.UserServiceImpl" level="info">
            <AppenderRef ref="logFile"/>
        </Logger>
        <Logger name="by.training.finalproject.controller.DispatcherServlet" level="info">
            <AppenderRef ref="logFile"/>
        </Logger>
        <Logger name="by.training.finalproject.controller.command.impl.LoginCmd" level="info">
            <AppenderRef ref="logFile"/>
        </Logger>
        <Logger name="by.training.finalproject.dao.impl.TransactionFactoryImpl" level="info">
            <AppenderRef ref="logFile"/>
        </Logger>
        <Logger name="by.training.finalproject.dao.impl.TransactionImpl" level="info">
            <AppenderRef ref="logFile"/>
        </Logger>
        <Logger name="by.training.finalproject.dao.pool.ConnectionPool" level="info">
            <AppenderRef ref="logFile"/>
        </Logger>
        <Logger name="by.training.finalproject.controller.filter.CommandFromUriFilter" level="info">
            <AppenderRef ref="logFile"/>
        </Logger>
        <Logger name="by.training.finalproject.controller.command.impl.basket.BasketCmd" level="info">
            <AppenderRef ref="logFile"/>
        </Logger>
        <Logger name="by.training.finalproject.controller.command.impl.basket.ChangeProductBasketCmd" level="info">
            <AppenderRef ref="logFile"/>
        </Logger>

        <Root level="info">
            <AppenderRef ref="console"/>
        </Root>
    </Loggers>

</Configuration>
