img {
    max-height: 250px;
    min-height: 250px
}

td {
    vertical-align: center;
    padding: 10px 10px 10px 30px;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}

td:first-child {
    padding-left: 10px;
}

table {
    margin-left: 20px;
    border-spacing: 10px 10px;
    margin-top: 40px;
}

.hidden-element {
    visibility: hidden;
}

.col-3 {
    margin-top: 40px;
    padding-left: 60px;
    line-height: 3;
}

.btn-danger {
    margin-top: 10px;
}

.container {
    padding-right: 30px;
}

.fa-chevron-right {
    margin-left: 15px;
}

.nav-link:hover {
    color: #1E90FF !important;
}

.nav-link:focus {
    color: #1E90FF !important;
}

.navbar-brand {
    color: #1E90FF !important;
}

.navbar-brand:hover {
    color: crimson !important;
}

.navbar-brand:focus {
    color: crimson !important;
}

html {
    overflow-x: hidden;
}
