.col-2 {
    border: 1px solid aquamarine;
    background-color: #3c4043;
    min-height: 100vh;
    text-align: center;
}

.menu-text {
    font-size: large;
    color: white;
}

a:link {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    color: royalblue;
}

.menu-header {
    color: aquamarine;
    font-size: x-large;
}

hr {
    border-color: white;
}

.header-text {
    text-align: center;
    margin-top: 25px;
}

form {
    max-width: 350px;
    width: 100%;
}

.nav-link:hover {
    color: #1E90FF !important;
}

.nav-link:focus {
    color: #1E90FF !important;
}

.navbar-brand {
    color: #1E90FF !important;
}

.navbar-brand:hover {
    color: crimson !important;
}

.navbar-brand:focus {
    color: crimson !important;
}

html {
    overflow-x: hidden;
}