html {
    overflow-x: hidden;
}

.navbar-brand {
    color: #1E90FF !important;
}

.navbar-brand:hover {
    color: crimson !important;
}

.navbar-brand:focus {
    color: crimson !important;
}

.pagination {
    border: 1px solid;
}

.page-link:hover {
    background-color: #FEADA2;
}

.nav-link:hover {
   color: #1E90FF !important;
}

.nav-link:focus {
    color: #1E90FF !important;
}

.input-amount {
    max-width: 60px;
}

.card {
    width: 330px !important;
}

form {
    margin-block-end: 0;
}

.current {
    color: crimson;
}



